@model IEnumerable<ESupplierPresentation.Models.Winners>

@{
    ViewBag.Title = "Winners";
}

<h2>Listas de Ganadores</h2>

<p>
    @Html.ActionLink("Consultar subastas", "../Auction/Query")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.document)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
    </tr>
}
</table>
